footer {
  padding: 50px;
  background-color: #fbd062;
}

footer .leftside h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 43px;
  letter-spacing: 0.396px;
  color: #2d2d2d;
}

footer .leftside p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.396px;
  color: rgba(0, 0, 0, 0.7);
  padding-top: 30px;
}

footer .rightside .form-control {
  width: 630px;
  height: 70px;
}
footer .rightside .ym {
  width: 630px;
  height: 277px;
}

footer .rightside .btn {
  width: 170px;
  height: 45px;
  background: #111430;
  border-radius: 5px;
}

footer .rightside button span {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
footer .copyright {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.396px;
  color: rgba(0, 0, 0, 0.7);
  padding-top: 100px;
}

footer .form-control::placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.396px;
  color: rgba(0, 0, 0, 0.7);
}
