
.service-part{
    padding: 50px 0 100px 0;
}
.service-part h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    color: #2d2d2d;
    padding-bottom: 50px;
}