* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  height: 100vh;
}

.navber {
  width: 250px;
  height: 100vh;
  position: fixed;
  margin-left: 100px;
  background-color: #7952b3;
}

ul {
  list-style: none;
  text-align: justify;
}
