.service-part .card{
    border: none;
    width: 370px;
    height: 319px;
}

.service-part .card:hover{
    background: #FFFFFF;
    box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all linear 0.2s;
}

.service-part .card img{
    width: 74px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.service-part .card .card-body h5{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;

}

.service-part .card .card-body p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.396px;
    color: rgba(0, 0, 0, 0.7);
}